<section class="mainbar" data-ng-controller="admin as vm">
    <section class="matter">
        <div class="container">
            <form class="col-lg-10 proposal-add">

                <div class="control-group">
                    <label class="control-label" for="emailInvite"><i class="fa fa-envelope"></i> Email</label>
                    <div class="controls controls-row">
                        <input type="email" class="form-control input-lg" ng-model="email" id="emailInvite" placeholder="Email">
                    </div>
                </div>
                <div class="wrapper control-group" ng-controller="communities as vm">
                    <dropdown ng-if="vm.isAdmin" placeholder="Community..." list="vm.communities" property="Name" selected="vm.community" class="ng-isolate-scope">
                    </dropdown>

                   
                </div>


                <div class="control-group" ng-controller="invitations as vp">
                    <div class="controls">
                        <input ng-click="vp.sendInvitation()" type="button" class="btn btn-large btn-success proposal-btn" value="Send Invitation" />
                    </div>

                    <br class="clear">
                </div>
            </form>
        </div>
    </section>
</section>
