<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="topnav as vm">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Community Manager</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
            <p id="user-logged-header" class="btn-group" ng-show="vm.isLogged"><i class="fa fa-user"></i>{{vm.username}}</p>
            <p class="btn-group"><a id="login-btn" ng-hide="vm.isLogged" class="btn btn-md btn-primary" href="#/login" role="button">Sign in</a>
            </p>
            <p class="btn-group"><a id="register-btn" ng-hide="vm.isLogged" class="btn btn-md btn-success" href="#/register" role="button">Sign up today</a>
            </p>
            <p class="btn-group"><a id="register-admin-btn" ng-hide="vm.isLogged" class="btn btn-md btn-warning" href="#/register-admin" role="button">Register as Admin</a>
            </p>
            <p class="btn-group"><a ng-click="vm.logout()" id="logout-btn" ng-show="vm.isLogged" class="btn btn-md btn-success" href="#/logout" role="button">Logout</a>
            </p>

        </div>
        </div>
</nav>