body {
    position: relative;
    background-color: #222222;
}

.home-background {
    position: absolute;
    top: 20%;
    left: -50%;
    width: 200%;
    height: 200%;
}

/*html {
    background: url(../images/building.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.building {
    position: fixed;
    top: 50px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#modified-btn {
    color: white;
}

#modified-login-btn {
    margin-top: 1px;
}

#modified-navbar {
    border: none;
}
